
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 246, 250);
}


.p{
    display: flex;
    flex-direction: wrap;
    width: 1750px;
    margin-top: 6.8%;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    height: 750px;
    /* background-color: white;
    box-shadow: rgba(78, 76, 76, 0.4) 1px 2px 4px 4px; */

}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-right: 70px;
    gap: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
    box-shadow: rgba(78, 76, 76, 0.4) 0px 2px 4px 0px; 
}
.logo{
    margin-left: 15%;
    margin-top: 15%;
}
#logo{
    width: 150px;
}


.text{
    color: black;
    margin-left: -10%;
}

.input{
    gap: 10px;
    display: flex;
    flex-direction: wrap;
    padding: 5%;

}
.inp{
    border: none;
    border-bottom: solid 3px;
    padding: 2%;
    width: 420px;
    font-size: 20px;
    color: black;
}

.inp:hover{
    transition: 0.3s;
    cursor: pointer;
    padding-left:  5.5%;
}

#login{
    background-color: transparent;
    color:black;
    margin-left: 5%;
    font-weight: bold;
    font-size: 30px;
    padding: 2%;
    width: 200px;
    border-radius: 100px;
    border: solid 3.5px black;

}
#login:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: black;
    color: white;
}
.imginput{
    margin-bottom: 2%;
    width: 50px;
}

.text2{
    font-weight: bold;
    font-size: 70px;
    color: rgb(0, 0, 0)    ;
}

.textao{
    color: rgb(0, 0, 0);
    height: 100%;
    width: 80%;
    font-size: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(../../assets/fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(78, 76, 76, 0.4) 0px 2px 4px 0px; 
}

.divtext{
    display: flex;
    align-items: center;
    margin-top: 25%;
    margin-left: 3.5%;
    display: flex;
    flex-direction: column;
}

a{
    color: black;
}