@import url('../global/estrutura.css');

header{
    background-color: #81e4ff;

}

.prin{
    width: 90%;
    padding-bottom: 2%;
    background-color: #81e4ff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.headerMain{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 10%;
    width: 100%;
}
.aHead:hover{
    padding: 2px;
    transition: 0.2s;
    background-color: #00000011;
}

.aNavmain{
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: wrap;
    gap: 200px;
    font-size: 35px;
}


#icon{
    width: 50px;
}


table {
    text-align: center;
    font-size: 30px;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td{
    padding: 1.5%;
    /* border-top:solid 3px rgb(255, 255, 255); */
}

.tabelas{
    display: flex;
    flex-direction: wrap;
    width: 100%;
    height: 90%;
}

.total{
    display: flex;
    margin-left: 55%;
    flex-direction: wrap;
    gap:50px;
}


#images{
    width: 100px;
}
#btn{
    border-top: 3px solid rgb(0, 0, 0);
}
#novo-mot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: transparent;
    font-weight: bold;
    width: 350px;
    height: 90px;
    padding: 25px;
    border-radius: 15px;
    border: 7.5px solid black;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.783);
}

#novo-mot:hover{
    cursor: pointer;
    background-color: #000;
    color: #F4F4F4;
    transition: 0.3s;

}

.textTab{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 25px;
    margin-top: 20px;

}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
#editar,#modalEx{
    background-color: transparent;
    border: none;
}

#excluirOp{
    border: none;
    background-color: transparent;
}

#img{
    cursor: pointer;
    width: 50px;
}

.digite{
    margin-top: -15%;
}

.tabelaVei td{
    color: #060606;
     border-top:solid 3px rgb(0, 0, 0);
}

.tabelaMot td{
    color: #ffffff;
     border-top:solid 3px rgb(255, 255, 255);
}



.tabelaManu{
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    height: 90%;
    margin-top: 1.5%;
    border-radius: 15px;
    background-color: #ff3a3a;
    box-shadow: 2.5px 3.4px 10px 2px rgba(147, 138, 138, 0.783);
    overflow-y: scroll;
}

.tabelaManu td{
     border-top:solid 3px rgb(241, 241, 241);
}



.tabelaOp{
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 110%;
    height: 90%;
    margin-top: 1.5%;
    border-radius: 15px;
    background-color: #a09eff;
    box-shadow: 2.5px 3.4px 10px 2px rgba(147, 138, 138, 0.783);
    overflow-y: scroll;
}


.tabelaMot{
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    height: 90%;
    margin-top: 1.5%;
    border-radius: 15px;
    background-color: #424242;
    box-shadow: 2.5px 3.4px 10px 2px rgba(147, 138, 138, 0.783);
    overflow-y: scroll;

}

.modalEditOp{
    background-color:#a09eff;
    width: 60%;
    height: 100%;
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 1%;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 10px 2px black;
}

.modalEditVei{
    background-color: #3fedad;
    width: 60%;
    height: 100%;
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 1%;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 10px 2px black;
}


.modalCadVei{
    background-color: #3fedad;
    width: 60%;
    height: 95%;
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 1.5%;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 10px 2px black;
}
.modalCadOp{
    background-color:#a09eff;
    width: 60%;
    height: 95%;
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 1.5%;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 10px 2px black;
}
.modalCadManu{
    background-color:  #ff3a3a;
    width: 60%;
    height: 95%;
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 1.5%;
    color: white;
}


.modalCadMot, .modalEditMot{
    background-color: #424242;
    width: 60%;
    height: 95%;
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 1.5%;
    color: white;
}

.textbtn{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5.5%;
    margin-left: 0.5%;
    gap: 50px;
}
.textbtn2{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5.5%;
    margin-left: 23.5%;
    gap: 50px;
}
form{
    display: flex;
    align-items: center;
    margin-top: 20%;
    gap: 40px;
    width: 100%;
    flex-direction: column;
}

input{
    border-radius: 15px;
    padding: 1.5%;
    font-size: 25.5px;
    width: 50%;
    height: 30px;
    color: black;
    box-shadow: 0px 0px 5.5px 0px black;
}

#enviaCadMot, #enviaCadVei{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 200px;
    border: 5px solid white;
    cursor: pointer;
    color: #000;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7.5px 0px black;
    margin-left: 35%;
    font-size: 20.5px;
    font-weight: bold;
    margin-top: 5%;
}
#enviaCadVei:hover{
    background-color: black;
    border: 5px solid black;
    color: white;
}

#enviaCadMot:hover{
    background-color: transparent;
    color: white;
}

.SEILA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 30%;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 90%;
    background-color: #000000;
    width: 800px;
    height: 500px;
}
.btnsmode{
    display: flex;
    margin-top: 10%;
    gap: 300px;
}

#excluir, #deletarOp, #deletarVei {
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    width: 150px;
    height: 50px;
}

#cancelinha{
    border: none;
    background-color: #f90b0b;
    color: white;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

#editarMot,#excluirVei,#editarVei,#editarOp{
    background-color: transparent;
    border: none;

}



#motAviso{
    margin-left: 5%;
    font-size: 28px;
}

#fechamod{
    position: absolute;
    top: 3%;
    left: 90%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}




.inputz{
    margin-top: -2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

}

#btnFechaModalzin{
    background-color: red;
    width: 50px;
    height: 50px;
    border: 5px solid red;
    border-radius: 100%;
    color: white;
    font-size: 25px;
    margin-left: 20%;
    font-weight: bold;
}
#btnFechaModalzin:hover{
    cursor: pointer;
    background-color: transparent;

}

#btnDetalOp{
    border-radius: 15px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    color: #F4F4F4;
    border: none;
    
    font-weight: bold;
    background-color: black;
}

#enviaEditMot, #enviaEditVei,#enviaEditOp{
    margin-top: 4%;
    width: 200px;
    margin-left: 35%;
    border-radius: 15px;
    border: 5px solid black;
    background-color: #000;
    color: #F4F4F4;
    font-size: 25px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
}
#enviaEditMot:hover{
    background-color: transparent;
    cursor: pointer;
    border:5px solid white;
}

.ain, .ainVei, .ainOp, .ainManu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.753);
}

.textarea{
    padding: 2.5%;
    font-size: 20px;
    border-radius: 15px;
    width: 500px;
    height: 150px;
    background-color: #F4F4F4;
}


.detalhesOp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(233, 197, 255, 0.753);

}

.divDetals{
   margin-left: 25%;
   margin-top: 9%;
}

.detals{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    padding: 5.5%;
    border-radius: 15px;
    background-color:#a09eff ;
    border: 5px solid #a09eff;
    box-shadow: 2px 2px 10.5px black;
}

#detalhesDesc{
    margin-left: 2%;
    margin-top: 2%;
}

.descOp{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

#descOpRead{
    margin-left: 10%;
    margin-top: -10%;
    border-radius: 15px;
    background-color: rgb(189, 54, 54);
    padding: 2.5%;
    font-weight: bold;
    border: 4px solid black;
    font-size: 20px;
    width: 600px;
    height: 150px;
    background-color: #F4F4F4;
}

#fechaDetal{
    position: absolute;
    top: 20%;
    left: 70.5%;
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: transparent;
}